<header class="header">
  <div class="container">
    <h1 class="logo">
      <a routerLink="/home" routerLinkActive="active">
        <img ngSrc="assets/img/logo.png" alt="Logo" height="80" width="120">
      </a>
    </h1>
    <div class="hamburger" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <nav class="nav" [ngClass]="{'active': isMenuOpen}">
      <ng-container *ngIf="isAuthenticated; else guestLinks">
        <a routerLink="/tasks" routerLinkActive="active" (click)="closeMenu()">Tâches</a>
        <a routerLink="/profil" routerLinkActive="active" (click)="closeMenu()">Profil</a>
        <a (click)="logout()" class="logout-link">Déconnexion</a>
      </ng-container>
      <ng-template #guestLinks>
        <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Connexion</a>
        <a routerLink="/register" routerLinkActive="active" (click)="closeMenu()">Inscription</a>
      </ng-template>
    </nav>
  </div>
</header>
